<html data-theme="pastel" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<head>
	<title>게시 글 상세</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<div class="navbar bg-secondary text-primary-content mb-10 text-center">
	<div class="navbar-start"></div>
	<div class="navbar-center text-xl">게시글 상세</div>
	<div class="navbar-end"></div>
</div>
<form th:action="@{updateBoard}" method="post">
	<input name="seq" type="hidden" th:value="${board.seq}">
	<table class="table border-t border-base-300 mt-10" th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
		<tr>
			<td bgcolor="orange" th:text="제목" width="80"></td>
			<td><input name="title" type="text" th:value="${board.title}"></td>
		</tr>
		<tr>
			<td bgcolor="orange" th:text="작성자"></td>
			<td th:text="${board.writer}"></td>
		</tr>
		<tr>
			<td bgcolor="orange" th:text="내용">
			<td><textarea name="content" th:text="${board.content}" cols="40" rows="10"></textarea></td>
		</tr>
		<tr>
			<td bgcolor="orange" th:text="등록일"></td>
			<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
		</tr>
		<tr>
			<td bgcolor="orange" th:text="조회수"></td>
			<td th:text="${board.cnt}"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input class="btn btn-outline btn-lg m-10" type="submit" value="게시글 수정">
			</td>
		</tr>
	</table>
</form>
<div >
	<a class="btn btn-lg btn-outline btn-primary" th:href="@{/insertBoard}">글 등록</a>
	<a class="btn btn-lg btn-outline btn-secondary" th:if="${session['member'].role == 'ROLE_ADMIN'}" th:href="@{/deleteBoard(seq=${board.seq})}">글 삭제</a>
	<a class="btn btn-lg btn-outline btn-accent" th:href="@{/getBoardList}">글 목록</a>
</div>
</body>

</html>
