<html data-theme="pastel">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<head>
	<title>메인 페이지</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div class="navbar bg-secondary text-primary-content mb-10 text-center">
		<div class="navbar-start"></div>
		<div class="navbar-center text-xl">게시판 프로그램입니다.</div>
		<div class="navbar-end"></div>
	</div>
	<div class="indexBtn" align="center">
		<p class="btn btn-lg btn-outline btn-primary" align="center"><a href="getBoardList">글 목록 바로가기</a></p>
		<p class="btn btn-lg btn-outline btn-secondary" align="center"><a href="login">로그인</a></p>
	</div>
</body>
<style>
	.indexBtn {
		margin-top: 100px;
	}
</style>
</html>
